<div class="btn btn-primary">nick</div>

<p><%= link_to 'Gallery', galleries_path %></p>

<p><%= link_to 'Contact', new_contact_path %></p>

<p><%= link_to 'About Me', about_me_path %></p>

<p><%= link_to 'Admin create gallery', admin_contacts_path %></p>



